NodeRED_flow/brightspot_nodeRed.json
[{"id":"4f15d380.b0ea2c","type":"twitter in","twitter":"","tags":"#study #Brightspot #performing","user":"false","name":"brightspot_check_twitter","topic":"tweets","x":126,"y":192,"z":"15c601e3.ea39fe","wires":[["d93122cc.26cee"]]},{"id":"d93122cc.26cee","type":"function","name":"parse_tweet","func":"var message = msg.tweet.text;\n\ncontext.global.economicscount = context.global.economicscount || 0;\n\ncontext.global.neurosciencecount = context.global.neurosciencecount || 0;    \n\nif(message.indexOf('economics') > -1) {\n\t//increase counter\n\tcontext.global.economicscount += 10;\n\tmsg.brightness = context.global.economicscount;\n\tmsg.color = \"DF0101\";\n\n}\n\nif(message.indexOf('neuroscience') > -1) {\n\t//increase counter\n\tcontext.global.neurosciencecount += 10;\n\tmsg.brightness = context.global.neurosciencecount;\n\tmsg.color = \"0000FF\";\n\n}\n\nif(message.indexOf('painting') > -1) {\n\t//increase counter\n\tcontext.global.neurosciencecount += 10;\n\tmsg.brightness = context.global.neurosciencecount;\n\tmsg.color = \"0000FF\";\n\n}\n\nconsole.log('neuro: '+context.global.neurosciencecount);\nconsole.log('econ: '+context.global.economicscount);\n\nmsg.lamp=2;\n\nmsg.payload = \"ON\";\nreturn msg;\n","outputs":1,"x":340,"y":191,"z":"15c601e3.ea39fe","wires":[["f89d7cfb.07628","5d95f682.a26a08"]]},{"id":"f89d7cfb.07628","type":"debug","name":"","active":true,"console":false,"complete":false,"x":539,"y":194,"z":"15c601e3.ea39fe","wires":[]},{"id":"5d95f682.a26a08","type":"HueNode","name":"brightspot","username":"34fcc05c38c1a66f9cc1a34394809e7","discovery_mode":"","lamp_id":"2","color":"EBF5FF","brightness":"100","lamp_status":"AUTO","x":540,"y":274,"z":"15c601e3.ea39fe","wires":[[]]},{"id":"f6595959.09a6a8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128,"y":264,"z":"15c601e3.ea39fe","wires":[["20d0408f.df2fc"]]},{"id":"20d0408f.df2fc","type":"function","name":"reset_counters","func":"//context.economicscount = context.economicscount || 0;\n\n//context.neurosciencecount = context.neurosciencecount || 0;    \n\n\ncontext.global.economicscount = 0;\ncontext.global.neurosciencecount = 0;\n\nmsg.color = \"FFFFFF\";\nmsg.lamp=2;\nmsg.brightness = 5;\nmsg.payload = \"OFF\";\n\nconsole.log(context.global.economicscount);\nconsole.log(context.global.neurosciencecount);\n\n\nreturn msg;","outputs":1,"x":303,"y":268,"z":"15c601e3.ea39fe","wires":[["5d95f682.a26a08"]]}]